body {
    margin: 0 auto;
    width: 80%;
    background-color: #FAFAFA;
}

input {

    display: block;
    width: 100%;
}



a {
    position: static;
    text-decoration: none;
    color: black;
    text-align: right;
}

h2 {
    position: static;
    text-align: right;
}

.box-shadow-menu {
    position: relative;
    padding-left: 1.25em;
}

.box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow:
        0 0.25em 0 0 black,
        0 0.5em 0 0 black;
}

.containernav {
    padding-top: 10px;
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}

.search {
    display: flex;
    flex: 1;
    padding: 0 83px;
    position: relative;
    width: 271px;

}

.input-icon {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
}

.imgprincipal {
    position: relative;
}

.title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color:#FAFAFA;
}
.title2 {
    position: absolute;
    font-size: 9px;
    bottom: 435px;
    right: 270px;
    color:#ffffff;
}
.title3 {
    position: absolute;
    font-size:9px;
    bottom: 210px;
    right: 270px;
    color:#000000;
}

.moment {
    position: relative;
    left: 900px;
}
.containerinfo{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.containerinfo .imgprincipal{
    grid-column: 1/3;
    grid-row: 1/3;
}
.containerinfo .imgmoment2{
    grid-column: 3/4;
    grid-row: 1/2;
}
.containerinfo .imgmoment2{
    grid-column: 3/4;
    grid-row: 2/3;
}
.containerinfo img{
    width: 100%;
}
